body {
  margin: 0;
  background-color: #ff68a8;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 131, 184, 1) 47%,
    rgba(148, 187, 233, 1) 100%
  );
}
